{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="h-screen w-screen flex flex-col items-center justify-center gap-8">
  <div class="mb-10 text-center">
    <div class="text-2xl flex flex-col items-center mb-6 font-montserrat">LOGOUT</div>
    <p>Are you sure you want to sign out?</p>
  </div>
  
  <form method="post" action="{% url 'account_logout' %}" class="w-[20%] text-white flex flex-col gap-6">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    
    <div class="flex flex-col gap-4">
      <button type="submit" class="h-12 w-full cursor-grab bg-white font-montserrat text-black">Sign Out</button>
      <a href=" {% url 'dashboard' %} " class="h-12 w-full flex items-center justify-center border border-white hover:bg-gray-800 transition-colors font-montserrat">
        Cancel
      </a>
    </div>
  </form>
  
  <div class="mt-4 text-center">
    <p class="">Changed your mind? <a href="{% url 'account_login' %}" class="text-orange-600">Sign in </a>.</p>
  </div>
</div>
{% endblock content %}