{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="h-screen w-screen flex flex-col items-center justify-center">
  <h1>password reset</h1>
  <form method="post" action="{% url 'account_reset_password' %}" class="text-white">
      {% csrf_token %}
      <h1 class="mb-10">Enter your email address</h1>
      <input type="email" name="email" placeholder="email" class="h-10  border-2 border-orange-500 pl-2">
      <button type="submit" class="text-white">Reset Password</button>
  </form>
</div>
{% endblock content %}