{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex h-full w-full bg-gray-400 gap-[2px]">
  <div id="editor-body" class=" w-full">
    <form action="{% url 'editor' %}" method="post">
      {% csrf_token %}
      <label for="id_answer">
        <textarea name="answer" id="id_answer" class="bg-white text-black h-full w-full p-8"></textarea>
      </label>
    </form>
  </div>
  <div id="editor-sidebar" class="h-full w-[40%] bg-black flex flex-col gap-2 p-8">
    <div id="question_tweak" class="">
      <div class="flex flex-col gap-2 pt-4">
        <h2 class="text-white">Edit Question</h2>
        <label for="id_question" class="hidden">Question</label>
        <textarea name="question" id="id_question" placeholder="Enter The Question Here..." class="h-[30vh] w-[full] border-2 border-gray-400 text-white pl-2 "></textarea>
      </div>
    </div>
    <div id="ai-chat" class="h-full w-full border-2 border-gray-400 text-white">

    </div>
  </div>
</div>
{% endblock content %}
