{% load static %}
<c-base>
  <div id="landing-body" class=" flex flex-col gap-8 bg-white">
  <div id="hero" class="h-screen w-[100%]  flex flex-col bg-no-repeat bg-cover bg" style="background-image: url('{% static 'images/nature.jpg' %}')">
    
    <div id="navigation-bar" class="flex justify-between items-center m-8">
      <div>
        <div id="logo" class="h-12 w-12 rounded-full bg-cover" style="background-image: url('{% static 'images/brand/orunos_logo_white.png' %}')"></div>
        
      </div>
      <div id="nav-links">
        <ul class="flex gap-8 text-2xl text-white">
          <li><a href="#" class="">[ <span class="hover:text-orange-600">About </span></a></li>
          <li>&#183; </li>
          <li><a href="#" class="hover:text-orange-600">How it works</a></li>
          <li>&#183;</li>
          <li><a href="#" class="hover:text-orange-600">Contact <span class="text-white">]</span></a></li>
        </ul> 
      </div>
      <a href="{%  url 'account_login' %}">
        <div class="h-10 w-30 border-2 border-white bg-black hover:transition-colors duration-300 hover:bg-orange-600 flex flexl-col items-center justify-center text-white cursor-grab ">
          LOGIN
        </div>
      </a>
    </div>

    <div id="call-to-action" class="flex flex-col gap-6 items-center justify-center h-[100%]">
      <h1 class="text-6xl text-white">Your AI Study Buddy</h1>
      <h2 class="text-8xl text-black font-crimson-text motion-preset-focus motion-duration-1000">WRITE &#183; CITE &#183; LEARN</h2>
      <p class="text-white">Designed to to help students complete Coursework,to focus on learning.</p>
      <a href="{%  url 'account_login' %}">
        <div class="h-10 w-30 border-2 bg-orange-600 hover:transition-colors duration-300 hover:bg-black flex flexl-col items-center justify-center text-white text-1xl cursor-grab ">
          LEARN  <span class="hover:motion-preset-slide-right  hover:motion-duration-800"> &#8594</span>
        </div>
        
      </a>
    </div>

    <div class="flex justify-between m-8 text-white">
      <p>[ Experince Enhanced Learning ]</p>
      <a href="#features " class="hover:text-orange-600">
        <p class="flex gap-1">[ <span class="motion-preset-bounce ">&#8595</span> ]</p>
      </a>
    </div>

  </div>

  <div class="h-50 w-fill grid grid-cols-3">
    <div class="col-span-2 flex">
      <div class="flex gap-8 items-center align-center">
        <div id="vertical-line"  class="h-30 ml-8 border-l-3 border-black"></div>
        <div>
          <h2 class="text-6xl text-black">Tech Is Changing <span class="motion-preset-pulse">&there4;</span><br> So should your <span class="text-orange-600">Learning Flow.</span></h2>
        </div>
      </div>
    </div>

    <div class=" flex items-center justify-center">
      <p class=" text-black">
        Lorem ipsum amet exercitation est aliquip sed ut dolor sit
          anim elit officia sunt. Duis adipiscing laborum pariatur ex
          veniam cupidatat magna. Ea nulla culpa minim do ad
          aliqua laboris deserunt quis mollit labore. Esse eiusmod
          tempor. Ullamco non excepteur do cupidatat.
      </p>
    </div>

  </div>    
  
  <div id="features" class="h-[70vh] w-fill flex gap-2 ml-8 mr-8">
    <div class="h-full w-full bg-black bg-cover bg-center" style="background-image: url('{% static 'images/globe_ft.png' %}')">
      <div class="h-[100%] w-full flex flex-col justify-between p-8">
        <h2>FEATURE</h2>
        <div>

        </div>
        <div class="gap-4 flex flex-col">
          <p>
            Lorem ipsum amet adipiscing id magna qui quis
            commodo minim anim excepteur. Fugiat est officia
            reprehenderit enim consectetur. Nisi exercitation
            deserunt nostrud.
          </p>
          <a href="" class="text-orange-600">Read More &#8594</a>
        </div>
      </div>
    </div>
    <div class="h-full w-full bg-black bg-cover bg-center" style="background-image: url('{% static 'images/book_ft.png' %}')">
      <div class="h-[100%] w-full flex flex-col justify-between p-8">
        <h2>FEATURE</h2>
        <div>

        </div>
        <div class="gap-4 flex flex-col">
          <p>
            Lorem ipsum amet adipiscing id magna qui quis
            commodo minim anim excepteur. Fugiat est officia
            reprehenderit enim consectetur. Nisi exercitation
            deserunt nostrud.
          </p>
          <a href="" class="text-orange-600">Read More &#8594</a>
        </div>
      </div>
    </div>
    <div class="h-full w-full bg-black bg-cover bg-center" style="background-image: url('{% static 'images/circle_ft.png' %}')">
      <div class="h-[100%] w-full flex flex-col justify-between p-8">
        <h2>FEATURE</h2>
        <div>

        </div>
        <div class="gap-4 flex flex-col">
          <p>
            Lorem ipsum amet adipiscing id magna qui quis
            commodo minim anim excepteur. Fugiat est officia
            reprehenderit enim consectetur. Nisi exercitation
            deserunt nostrud.
          </p>
          <a href="" class="text-orange-600">Read More &#8594</a>
        </div>
      </div>
    </div>

  </div>

  <div class="h-50 w-fill grid grid-cols-3 ml-8 mr-8">

    <div class=" flex items-center justify-center">
      <p class=" text-black">
        Lorem ipsum amet exercitation est aliquip sed ut dolor sit
          anim elit officia sunt. Duis adipiscing laborum pariatur ex
          veniam cupidatat magna. Ea nulla culpa minim do ad
          aliqua laboris deserunt quis mollit labore. Esse eiusmod
          tempor. Ullamco non excepteur do cupidatat.
      </p>
    </div>

    <div class=" flex items-center justify-center col-start-3">
      <p class=" text-black">
        Lorem ipsum amet exercitation est aliquip sed ut dolor sit
          anim elit officia sunt. Duis adipiscing laborum pariatur ex
          veniam cupidatat magna. Ea nulla culpa minim do ad
          aliqua laboris deserunt quis mollit labore. Esse eiusmod
          tempor. Ullamco non excepteur do cupidatat.
      </p>
    </div>

  </div>

  <div id="trusted-brands" class=" h-[20vh] w-full flex p-8">
    
    <div class="h-20 w-full bg-contain bg-no-repeat " style="background-image: url('{% static 'images/uniz/unis_2.png' %}"></div>
    <div class="h-20 w-full bg-contain bg-no-repeat " style="background-image: url('{% static 'images/uniz/unis_3.png' %}"></div>
    <div class="h-20 w-full bg-contain bg-no-repeat " style="background-image: url('{% static 'images/uniz/unis_4.png' %}"></div>
    <div class="h-20 w-full bg-contain bg-no-repeat " style="background-image: url('{% static 'images/uniz/unis_6.png' %}"></div>
    <div class="h-20 w-full bg-contain bg-no-repeat " style="background-image: url('{% static 'images/uniz/unis_7.png' %}"></div>
    <div class="h-20 w-full bg-contain bg-no-repeat " style="background-image: url('{% static 'images/uniz/unis_8.png' %}"></div>
    <div class="h-20 w-full bg-contain bg-no-repeat " style="background-image: url('{% static 'images/uniz/unis_9.png' %}"></div>
    <div class="h-20 w-full bg-contain bg-no-repeat " style="background-image: url('{% static 'images/uniz/unis_10.png' %}"></div>
    <div class="h-20 w-full bg-contain bg-no-repeat " style="background-image: url('{% static 'images/uniz/unis_11.png' %}"></div>
    <div class="h-20 w-full bg-contain bg-no-repeat " style="background-image: url('{% static 'images/uniz/unis_12.png' %}"></div>

  </div>
  
  <div id="displines" class="relative h-[70vh] overflow-hidden bg-cover" style="background-image: url('{% static 'images/civilization.jpg' %}"></div>
  <div class="z-10 -mt-[860px]">
    <img src="{% static 'images/growth.png' %}" class="drop-shadow-2xl  transition-shadow duration-300 hover:drop-shadow-orange-600 " alt="">
  </div>

  </div>
    
  <footer class=" h-[70vh] flex flex-col content-between bg-black p-8 bg-contain bg-blend-difference" style="background-image: url('{% static 'images/toned_bg.png' %}')">
    <div class="h-[10vh] flex justify-between">
      <a href="#" class="hover:text-orange-600">[ ABOUT US ]</a>
      <a href="#" class="hover:text-orange-600">[ TERM OF USE ]  </a>
      <a href="#" class="hover:text-orange-600">[PRIVACY POLICY ]</a>
      <a href="#" class="hover:text-orange-600">[ CONTACT US ]</a>
    </div>
    <div class="h-full w-full text-white text-[400px] flex justify-center font-bold font-crimson-text text">orunos</div>
    <div class="h-[10vh] flex justify-between">
      <a href="#" class="hover:text-orange-600">[ FAQs ]</a>
      <a href="#" class="hover:text-orange-600">[ PRICING ]</a>
      <a href="#" class="hover:text-orange-600">[ BLOG ]</a>
      <a href="#" class="hover:text-orange-600">[ SOCIALS ]</a>
    </div>
  </footer>

</c-base>



