{% load static %}
<c-base>
  <div id="landing-body" class=" flex flex-col gap-8 bg-white overflow-hidden">
    <div id="hero" class="h-screen w-[100%]  flex flex-col bg-no-repeat bg-cover bg" style="background-image: url('{% static 'images/nature.jpg' %}')">
      <header id="navigation-bar" class="">
        <c-nav></c-nav>
      </header>
      <div id="call-to-action" class="flex flex-col gap-6 items-center justify-center h-[100%]">
        <h1 class="text-2xl text-white">Your AI Study Buddy</h1>
        <h2 class="text-8xl text-black font-crimson-text motion-preset-focus motion-duration-1000">WRITE <br class="md:hidden">&#183; CITE &#183; <br class="md:hidden"> LEARN</h2>
        <p class="text-white text-center">Designed to to help students complete Coursework,to focus on learning.</p>
        <a href="{%  url 'account_login' %}">
          <div class="h-10 w-30 border-2 bg-orange-600 hover:transition-colors duration-300 hover:bg-black flex flexl-col items-center justify-center text-white text-1xl cursor-grab ">
            LEARN  <span class="hover:motion-preset-slide-right  hover:motion-duration-800"> &#8594</span>
          </div>
        </a>
      </div>
      <div class="flex justify-between m-4 text-white">
        <p>[ Experince Enhanced Learning ]</p>
        <a href="#features " class="hover:text-orange-600">
          <p class="flex gap-1">[ <span class="motion-preset-bounce ">&#8595</span> ]</p>
        </a>
      </div>
    </div>

    <div class="h-50 w-fill grid grid-rows-2 md:grid-cols-3 gap-16 m-4 justify-center">
      <div class="row-span-1 md:col-span-2 flex">
        <div class="flex  gap-2 md:gap-8 items-center align-center">
          <div id="vertical-line"  class="h-30  md:ml-4 border-l-3 border-black"></div>
          <div>
            <h2 class="text-3xl md:text-6xl text-black">Tech Is Changing <span class="motion-preset-pulse">&there4;</span><br class="pt-16"> So should your <span class="text-orange-600">Learning Flow.</span></h2>
          </div>
        </div>
      </div>
      <div class=" flex items-center justify-center">
        <p class=" text-black text-wrap">
          Lorem ipsum amet exercitation est aliquip sed ut dolor sit
            anim elit officia sunt. Duis adipiscing laborum pariatur ex
            veniam cupidatat magna. Ea nulla culpa minim do ad
            aliqua laboris deserunt quis mollit labore. Esse eiusmod
            tempor. Ullamco non excepteur do cupidatat.
        </p>
      </div>
    </div>
    <div id="features" class="w-fill grid grid-rows-3 sm:grid-rows-1 sm:grid-cols-3 gap-2 sm:ml-8 sm:mr-8">
      {% for feature in features %}
      <c-feature_card :feat='feature'></c-feature_card>
      {% endfor %}
    </div>
    <div class="h-50 w-fill grid grid-rows-2 md:grid-rows-1 md:grid-cols-3 ml-8 mr-8 gap-16 md:gap-0 items-center">
      <div class=" flex items-center justify-center row-span-1">
        <p class=" text-black text-center md:text-left">
          Lorem ipsum amet exercitation est aliquip sed ut dolor sit
            anim elit officia sunt. Duis adipiscing laborum pariatur ex
            veniam cupidatat magna. Ea nulla culpa minim do ad
            aliqua laboris deserunt quis mollit labore. Esse eiusmod
            tempor. Ullamco non excepteur do cupidatat.
        </p>
      </div>
      <div class=" flex items-center justify-center sm:col-start-3 row-span-1">
        <p class=" text-black text-center md:text-left">
          Lorem ipsum amet exercitation est aliquip sed ut dolor sit
            anim elit officia sunt. Duis adipiscing laborum pariatur ex
            veniam cupidatat magna. Ea nulla culpa minim do ad
            aliqua laboris deserunt quis mollit labore. Esse eiusmod
            tempor. Ullamco non excepteur do cupidatat.
        </p>
      </div>
    </div>
    <div id="trusted-brands" class="w-full flex items-center justify-center md:justify-between p-8 flex-wrap gap-8">
      <img src="{% static 'images/uniz/unis_2.png' %}" class="h-24 w-24" alt="">
      <img src="{% static 'images/uniz/unis_3.png' %}" class="h-24 w-24" alt="">
      <img src="{% static 'images/uniz/unis_4.png' %}" class="h-24 w-24" alt="">
      <img src="{% static 'images/uniz/unis_6.png' %}" class="h-24 w-24" alt="">
      <img src="{% static 'images/uniz/unis_7.png' %}" class="h-24 w-24" alt="">
      <img src="{% static 'images/uniz/unis_8.png' %}" class="h-24 w-24" alt="">
      <img src="{% static 'images/uniz/unis_9.png' %}" class="h-24 w-24" alt="">
      <img src="{% static 'images/uniz/unis_10.png' %}" class="h-24 w-24" alt="">
      <img src="{% static 'images/uniz/unis_11.png' %}" class="h-24 w-24" alt="">
      <img src="{% static 'images/uniz/unis_12.png' %}" class="h-24 w-24" alt="">
    </div>

    

    <div id="displines" class="relative  h-[30vh] sm:h-[50vh] md:h-[100vh] overflow-hidden bg-cover" style="background-image: url('{% static 'images/civilization.jpg' %}')">
      
    </div>
    <div class=" static  z-10 -mt-[50%] sm:-mt-[300px] md:-mt-[860px]">
      <img src="{% static 'images/growth.png' %}" class="drop-shadow-2xl  transition-shadow duration-300 hover:drop-shadow-orange-600 " alt="">
    </div>
  </div>






  <footer class=" h-[30vh] md:h-[70vh] flex flex-col content-between bg-black p-8 bg-contain bg-blend-difference " style="background-image: url('{% static 'images/toned_bg.png' %}')">
    <div class="h-[10vh] flex justify-between text-[120px]">
      <a href="#" class="hover:text-orange-600">[ ABOUT US ]</a>
      <a href="#" class="hover:text-orange-600">[ TERM OF USE ]  </a>
      <a href="#" class="hover:text-orange-600">[PRIVACY POLICY ]</a>
      <a href="#" class="hover:text-orange-600">[ CONTACT US ]</a>
    </div>
    <h2 class="h-full w-full text-white sm:text-[400px] md:text-[300px] text-[250px] flex items-center justify-center font-bold font-crimson-text text">orunos</h2>
    <div class="h-[10vh] flex justify-between">
      <a href="#" class="hover:text-orange-600">[ FAQs ]</a>
      <a href="#" class="hover:text-orange-600">[ PRICING ]</a>
      <a href="#" class="hover:text-orange-600">[ BLOG ]</a>
      <a href="#" class="hover:text-orange-600">[ SOCIALS ]</a>
    </div>
  </footer>
  <script src="{% static 'js/index.js' %}"></script>
</c-base>