{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="flex flex-col gap-8 p-16">
  <div class="w-[100%] flex justify-between items-center">
    <div class="flex flex-col gap-2">
      <h2 class="text-4xl font-crimson-text">Account Settings</h2>
      <p class="font-montserrat">Manage and collaborate on your account settings</p>
    </div>
    <div class="h-50 w-50 border-1 border-white rounded-full" ></div>
  </div>
  <div id='divider' class="border-[0.5px] border-white w-full"></div>
  <div class="flex flex-col gap-8">
    <h3 class="text-2xl">Personal Details</h3>
    <div id="names" class="flex gap-[5%] w-full">
      <div class="w-full flex flex-col gap-4">
        <label for="">First Name</label>
        <input id="pw" type="text" name="first_name" placeholder="John" class="h-12 w-full  border-1  pl-2">
      </div>
      <div class="flex flex-col w-full gap-4">
        <label for="">Last Name</label>
        <input id="pw" type="text" name="last_name"placeholder="Kintu" class="h-12  border-1  pl-2">
      </div>
    </div>
    <div id="names" class="flex gap-[5%] w-full">
      <div class="w-full flex flex-col gap-4">
        <label for="">Email</label>
        <input id="pw" type="email" name="email" placeholder="joe@email.com" class="h-12 w-full  border-1  pl-2">
      </div>
      <div class="flex flex-col w-full gap-4">
        <label for="">Phone Number</label>
        <input id="phone_number" type="tel" name="password" placeholder="07********" class="h-12  border-1  pl-2">
      </div>
    </div>
    <div class="flex flex-col w-full gap-4">
      <label for="email">Course</label>
      <input id="pw" type="password" name="password" placeholder="BA Social Sciences" class="h-12  border-1  pl-2">
    </div>
    <div id="names" class="flex gap-[5%] w-full">
      <div class="w-full flex flex-col gap-4">
        <label for="">Institution</label>
        <input id="pw" type="password" name="password" placeholder="University Name" class="h-12 w-full  border-1  pl-2">
      </div>
      <div class="flex flex-col w-full gap-4">
        <label for="">Year</label>
        <input id="pw" type="year" name="year" placeholder="Year" class="h-12  border-1  pl-2">
      </div>
    </div>
    <button type="submit" class=" h-12 w-full cursor-grab bg-white hover:bg-orange-600 hover:text-white text-black font-montserrat">Edit</button>

  </div>
</div>
{% endblock content %}