{% load static %}

{% block header %}
{{ form.media }}
{% endblock header %}

<c-base>
  <div class="p-16 flex flex-col gap-8 h-[100%] items-center">
    <h1 class="text-white font-montserrat text-4xl">{{coursework.question}}</h1>
    <p class="text h-100">{{coursework.answer}}</p>
    <div class="fixed bottom-8 h-12 w-24 bg-orange-600 hover:bg-black text-white font-medium rounded-md cursor-pointer flex items-center justify-center transition-colors duration-200 shadow-lg hover:shadow-xl z-50 pointer-events-none">EDIT</div>
  </div>
</c-base>